.order {
  position: absolute;
  top: 10px;
  left: 2%;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 30px 0 0 0;
}

.end {
  max-width: 466px;
  padding: 30px;
}

.title {
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  color: #000000;
  align-items: center;
  margin-bottom: 26px;
  
}

.titleEnd {
  margin-bottom: 14px;
}

.text {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #7B7B7B;
  margin-bottom: 20px;
}

.btn {
  display: block;
  outline: none;
  border: none;
  background: none;
  font-weight: normal;
  color: #000000;
  padding: 18px 0;
  border-radius: 70px;
  background-color: #FDBF5A;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  text-decoration: none;
  align-items: center;
  text-align: center;
}

.btnEnd {
  width: 100%;
}

.row {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  padding: 0 30px;
}

.row:last-child {
  margin-bottom: 23;
}

.img {
  margin-right: 15px;
}

.select {
  flex: 1;
  height: 30px;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  border: none;
  outline: none;
}

.area {
  background: #FFFFFF;
  /* box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.25); */
  border-radius: 10px;
  padding: 20px;
}

.submit {
  outline: none;
  border: none;
  background: none;
  font-weight: normal;
  color: #000000;
  padding: 18px 0;
  border-radius: 70px;
  background-color: #FDBF5A;
  font-weight: normal;
  font-size: 21px;
  line-height: 25px;
  width: 100%;
  text-align: center;
}

.submit:hover {
  background-color: #FFA842;
}

@media screen and (max-width: 480px) {
  .order {
    width: 90%;
    min-width: 290px
  }
}
