* {
  box-sizing: border-box;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1C1A19;
  height: 100px;
}

.logo {
  width: 270px;
  height: 60px;
}

.nav__list {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav__item {
  margin-right: 30px;
}

.nav__btn {
  outline: none;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 21px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}

.nav__btn:hover {
  color: #FDBF5A;;
}

.app-wrapper .main{
  flex: 1;
}